<app-navigation></app-navigation>

<div *ngIf="showUpdateForm">
  <mat-card class="update-account-card">
    <form (ngSubmit)="onUpdateAccount()" [formGroup]="updateAccountForm">
      <mat-form-field>
        <input formControlName="firstName" matInput placeholder="First name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input formControlName="lastName" matInput placeholder="Last Name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input formControlName="email" matInput placeholder="Email">
      </mat-form-field>
      <br>
      <button mat-raised-button>Update</button>
    </form>
  </mat-card>
</div>

<div>
  <mat-card class="create-account-card">
    <mat-card-header>
      <mat-card-title>
        <label>Create account</label>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onCreateAccount()" [formGroup]="createAccountForm">
        <mat-form-field appearance="fill">
          <mat-label>First name</mat-label>
          <input formControlName="firstName" matInput placeholder="First name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput placeholder="Last name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Email">
        </mat-form-field>
        <br>
        <button mat-raised-button>Create</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div *ngFor="let account of allAccounts">
  <mat-card class="all-accounts-card">
    <mat-card-content>
      <label><strong>First name:</strong> {{account.firstName}}</label><br>
      <label><strong>Last name:</strong> {{account.lastName}}</label><br>
      <label><strong>Email:</strong> {{account.email}}</label><br>
      <mat-card-actions>
        <button (click)="onDelete(account.id)" mat-raised-button>Delete</button>
        <button (click)="onSelect(account)" mat-raised-button>Edit</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
